{% extends 'base.html' %}
{% block title %}a{% endblock %}
{% block body %}
	<form name="quest" action="publish" method="post" onSubmit="return checkValid()">{% csrf_token %}
		<label>问卷标题：</label>
		<input type="text" name="title" maxlength="255">
		<br>
		<label>调查对象：</label>
		<input type="text" name="subject" maxlength="255">
		<br>
		<label>问卷描述：</label>
		<textarea name="description" id="" cols="30" rows="10"></textarea>
		<br>
		<!--table>
			{{ form.as_table }}
		</table-->
		<input type="submit" value="发布问卷">
	</form>
	<p>{{ id }}</p>
	<p>{{ STATIC_URL }}</p>
{% endblock %}
