{% extends 'base.html' %}
{% block title %}Add Questionnaire{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
		<script src="{{ STATIC_URL }}js/scripts.js"></script>    
		<form id="upload" name="quest" action="publish" method="post" onSubmit="return checkValid()">{% csrf_token %}
			<div class="form-group">
				<label>Title:</label>
				<input type="text" class="form-control" name="title" maxlength="255">
			</div>
			<div class="form-group">
				<label>Subject:</label>
				<input type="text" class="form-control" name="subject" maxlength="255">
			</div>
			<div class="form-group">
				<label>Description:</label>
				<textarea name="description" class="form-control" id="" cols="30" rows="10"></textarea>
			</div>
			<div class="form-group" id="addQuestion">
				<label>Question Type:</label>
				<select class="form-control" id="select">
					<option value="single" selected="selected">Single Choice</option>
					<option value="multiply">Multiply Choice</option>
					<option value="judge">Judge</option>
					<option value="essay">Essay</option>
				</select>
				<a class="btn btn-link" onclick="addQuestion()">Add</a>
			</div>
			<input type="submit" class="btn btn-primary" value="Submit Questionnaire">
		</form>
		<p>{{ id }}</p>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
{% endblock %}