{% extends 'base.html' %}
{% block title %}
	{% if id %}
		Modify Questionnaire
	{% else %}
		Add Questionnaire
	{% endif %}
{% endblock %}
{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<script src="{{ STATIC_URL }}js/jsviews.min.js"></script>
				<script src="{{ STATIC_URL }}js/scripts.js"></script>

				<form id="upload" name="quest" action={% if id %} "{% url 'quest:resave' id %}" {% else %} "{% url 'quest:publish' %}" {% endif %} method="post" onSubmit="return checkValid()">{% csrf_token %}
					<div class="form-group">
						<label>Title:</label>
						<input type="text" class="form-control" name="title" maxlength="255" value="{{ title }}">
					</div>
					<div class="form-group">
						<label>Subject:</label>
						<select class="form-control" name="subject">
							{% if not subject %}
								<option>Please select a subject</option>
							{% endif %}
							{% if subject == "Brand Promotion" %}
								<option selected>Brand Promotion</option>
							{% else %}
								<option>Brand Promotion</option>
							{% endif %}
							{% if subject == "Product Test" %}
								<option selected>Product Test</option>
							{% else %}
								<option>Product Test</option>
							{% endif %}
							{% if subject == "Customer Analysis" %}
								<option selected>Customer Analysis</option>
							{% else %}
								<option>Customer Analysis</option>
							{% endif %}
							{% if subject == "Human Resource" %}
								<option selected>Human Resource</option>
							{% else %}
								<option>Human Resource</option>
							{% endif %}
							{% if subject == "Academy" %}
								<option selected>Academy</option>
							{% else %}
								<option>Academy</option>
							{% endif %}
							{% if subject == "Society" %}
								<option selected>Society</option>
							{% else %}
								<option>Society</option>
							{% endif %}
							{% if subject == "Others" %}
								<option selected>Others</option>
							{% else %}
								<option>Others</option>
							{% endif %}
						</select>
					</div>
					<div class="form-group">
						<label>Description:</label>
						<textarea name="description" class="form-control" id="" cols="30" rows="10">{{ description }}</textarea>
					</div>
					
					<div class="form-group">
						<label>Limitation:</label>
						<div class="checkbox">
							<label>
								{% if anonymous_limit %}
									<input type="checkbox" name="anonymous_limit" value="limit" checked>not allow anonymous</input>
								{% else %}
									<input type="checkbox" name="anonymous_limit" value="limit">not allow anonymous</input>
								{% endif %}
							</label>
						</div>
					</div>
					
					{% for question in questions %}
						<div class="panel-group" id="accordion{{ forloop.counter0 }}">
							<div class="question form-group panel panel-default" id="{{question.qtype}}" no="{{ forloop.counter0 }}">
								<input type="hidden" name="type" value="{{ question.qtype }}">
								<div class="panel-heading">
									<div class="row">
										<a data-toggle="collapse" data-parent="#accordion{{ forloop.counter0 }}" href="#{{ forloop.counter0 }}">
											<div class="qtitle col-md-3">
												{% if question.qtype == 'single' %}
													{{ forloop.counter }}.Single Choice
												{% elif question.qtype == 'multiply' %}
													{{ forloop.counter }}.Multiply Choice
												{% elif question.qtype == 'judge' %}
													{{ forloop.counter }}.Judge
												{% else %}
													{{ forloop.counter }}.Essay
												{% endif %}
											</div>
										</a>

										<div class="col-md-7"></div>
										<div class="col-md-1">
											<input type="button" class="delItem btn btn-danger btn-xs" onclick="deleteQuestionJQ(this)" value="Delete">
										</div>
									</div>
								</div>
								<div id="{{ forloop.counter0 }}" class="panel-collapse collapse in">
									<div class="panel-body">
										<textarea class="form-control" name="question">{{ question.content }}</textarea>
										<a class="addItem btn btn-xs" onclick="addItemJQ(this)"><h4><span class="glyphicon glyphicon-plus green"></span></h4></a>
										{% for item in question.items %}
											<div class="item row">
												<label class="col-md-1">{{ forloop.counter }}.</label>
												<div class="col-md-9"><input type="text" class="form-control" name="items{{ forloop.parentloop.counter0 }}" value="{{ item }}"></div>
												<a class="col-md-1" onclick="deleteItemJQ(this)"><h4><span class="glyphicon glyphicon-remove red"></span></h4></a>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
					<div class="panel-group" id="addQuestion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="row">
									<div class="col-md-3">
										<label>Add a question</label>
									</div>
									<div class="col-md-7"></div>
									<div class="col-md-1">
										<a class="btn btn-success btn-xs" onclick="addQuestionJQ()"><span class="glyphicon glyphicon-plus"></span> Add</a>
									</div>
								</div>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-4"SW>
										Question Type:
									</div>
									<div class="col-md-7">
										<select class="form-control" id="select">
											<option value="single" selected="selected">Single Choice</option>
											<option value="multiply">Multiply Choice</option>
											<option value="judge">Judge</option>
											<option value="essay">Essay</option>
										</select>
									</div>
									<div class="col-md-1"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="margin:25px 0px 25px 0px">
						<div class="col-md-1"></div>
						<div class="col-md-4"><input type="submit" class="btn btn-primary" name="input_action" value="Save Questionnaire"></div>
						<div class="col-md-2"></div>
						<div class="col-md-4"><input type="submit" class="btn btn-primary" name="input_action" value="Publish Questionnaire"></div>
						<div class="col-md-1"></div>
					</div>
				</form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	{% include  'investmanager/question_template.html' %}
	{% include  'investmanager/item_template.html' %}
{% endblock %}
