{% extends 'quest_base.html' %}
{% block title %}Manage{% endblock %}
{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">Created Questionnaires</div>
		<table class="table">
			<thead>
				<tr>
					<th class="col-lg-1">#</th>
					<th class="col-lg-6">Titile</th>
					<th class="col-lg-2">Status</th>
					<th class="col-lg-3">Option</th>
				</tr>
			</thead>
			<tbody id="created_list">
				{% for item in created_quest reversed%}
					<tr>
						<td>{{ item.id }}</td>
						<td><a data-toggle="modal" data-target="#modal{{ item.id }}">{{ item.title }}</a></td>
						<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal{{ item.id }}" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										<h3>Title: {{item.title}}</h3>
									</div>
									<div class="modal-body">
										<p>Subject: {{item.subject}}</p>
										<p>Description: {{item.description}}</p>
										<form>
										<script type="text/javascript">
											var url = document.location.host + "/naire{{ item.id }}"
											document.write("<a href=\"{% url 'home' %}naire{{ item.id }}\">"+ url +"</a>")
										</script>
										</form>
									</div>
								</div>
							</div>
						</div>
						{% if item.released %}
							{% if item.closed %}
							<td id="status{{ item.id }}">Closed</td>
							<td>
								<button name = "reopen" value ="{{ item.id }}" onclick="toggle(this)" class="btn btn-warning btn-xs col-md-4">Reopen</button>
							{% else %}
							<td id="status{{ item.id }}">Open</td>
							<td><button name = "close" value ="{{ item.id }}" onclick="toggle(this)" class="btn btn-danger btn-xs col-md-4">Close</button>
							{% endif %}
							<div class="col-md-1"></div>
							<a href="{% url 'home' %}naire{{ item.id }}/results" class="btn btn-info btn-xs col-md-4">View</a>
							</td>
						{% else %}
						<td id="status{{ item.id }}">Draft</td>
						<td>
							<button name="publish" value="{{ item.id }}" onclick="toggle(this)" class="btn btn-primary btn-xs col-md-4">Publish</button>
							<div class="col-md-1"></div>
							<button name="edit" onclick="location.href='{% url 'quest:modify' item.id %}'" id="edit{{ item.id }}" class="btn btn-success btn-xs col-md-4">Edit</button>
						</td>
						{% endif %}
					</tr>
				{% endfor %}
		</table>
		
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Filled Questionnaires</div>
		
		<table class="table" id="filled">
			<thead>
				<tr>
					<th class="col-lg-1">#</th>
					<th class="col-lg-6">Titile</th>
					<th class="col-lg-2">Status</th>
					<th class="col-lg-3">Result</th>
				</tr>
			</thead>
			<tbody>
				{% for item in filled_quest reversed%}
					<tr>
						<td>{{ item.id }}</td>
						<td>{{ item.title }}</td>
						{% if item.closed %}
							<td>Closed</td>
						{% else %}
							<td>Open</td>
						{% endif %}
						<td><a href="{% url 'naire:results' item.id %}" class="btn btn-info btn-xs col-md-4">View</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
	</div>
	<script type="text/javascript">
	 function toggle(obj) {
		 var src = "{% url 'quest:toggle' "abc" "123" %}".
			   replace("abc", obj.name).replace(123, obj.value);
		 $.getJSON(src, function(data) {
			 //$("td.status:eq(-" + obj.value + ")")[0].innerText = data.status;
			 $("#status" + obj.value)[0].textContent = data.status;
			 if (data.status == "Closed") {
				 obj.name = "reopen";
				 obj.textContent = "Reopen";
				 obj.setAttribute("class", "btn btn-warning btn-xs col-md-4");
			 } else if (data.status == "Open") {
				 if (obj.name == "publish") {
					 $("#edit" + obj.value).remove();
					 var publish_num = parseInt($("#badge_published").text());
					 var draft_num = parseInt($("#badge_draft").text());
					 $("#badge_published").text(publish_num + 1);
					 $("#badge_draft").text(draft_num - 1);
				 }
				 obj.name = "close";
				 obj.textContent = "Close";
				 obj.setAttribute("class", "btn btn-danger btn-xs col-md-4");
			 }
		 });
	 }
	</script>
{% endblock %}
