{% extends 'quest_base.html' %}
{% block title %}Add Questionnaire{% endblock %}
{% block content %}

	<script src="{{ STATIC_URL }}js/scripts.js"></script>
	<form method = "POST" target = "_self" >
			{% for item in quest_list reversed %}

			{% if item.released %}
				{% if item.closed %}
					<div class="panel panel-info">
						<div class="panel-heading">
							<div class="row">
								<div class="col-lg-10">{{ item.title }} </div>
								<div class="col-lg-2">
									<button type = "submit" class = "btn btn-success btn-xs" name = "reopen" value = "{{  item.id }}">Reopen</button>
								</div>
							</div>
						</div>
						<div class="panel-body">
							Subject:{{ item.subject }}
							<br>
							<p>Description: {{ item.description }}</p>
						</div>
					</div>
				{% else %}
					<div class="panel panel-info">
						<div class="panel-heading">
							<div class="row">
								<div class="col-lg-10">{{ item.title }} </div>
								<div class="col-lg-2">
									<button type = "submit" class = "btn btn-danger btn-xs" name = "close" value = "{{  item.id }}">Close</button>
								</div>
							</div>
						</div>
						<div class="panel-body">
							Subject:{{ item.subject }}
							<br>
							<p>Description: {{ item.description }}</p>
						</div>	
					</div>
				{% endif %}
			{% else %}
				<div class="panel panel-info">
						<div class="panel-heading"><a href = "www.baidu.com">{{ item.title }} </a></div>
						<div class="panel-body">
							Subject:{{ item.subject }}
							<br>
							<p>Description: {{ item.description }}</p>
						</div>
					</div>
			{% endif %}


			{% endfor %}
		
		
	</form>

{% endblock %}