{% verbatim %}
<script id="questionTmpl" type="text/x-jsrender">

<div class="panel-group" id="accordion{{:id}}">
	<div class="question form-group panel panel-default" id="{{:type}}" no="{{:id}}">
		<input type="hidden" name="type" value="{{:type}}">
		<div class="panel-heading">
			<div class="row">
				<a data-toggle="collapse" data-parent="#accordion{{:id}}" href="#{{:id}}">
					<div class="qtitle col-md-3">
						{{:title}}
					</div>
				</a>

				<div class="col-md-7"></div>
				<div class="col-md-1">
					<input type="button" class="delItem btn btn-danger btn-xs" onclick="deleteQuestionJQ(this)" value="Delete">
				</div>
			</div>
		</div>
		<div id="{{:id}}" class="panel-collapse in">
			<div class="panel-body">
				<textarea class="form-control" name="question"></textarea>
				<a class="addItem btn btn-xs" onclick="addItemJQ(this)"><h4><span class="glyphicon glyphicon-plus green"></span></h4></a>
			</div>
		</div>
	</div>
</div>
	
</script>
{% endverbatim %}
