{% extends 'quest_base.html' %}
{% block title %}Questionnaire Management{% endblock %}
{% block content %}
<form method = "POST" action = {%url "quest:dashboard" type current_page %} target = "_self" >
	{% for item in quest_list reversed %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					{% if item.released %}
						{% if item.closed %}
						<div class="col-lg-9"><span class="glyphicon glyphicon-lock"></span> {{ item.title }} </div>
						<div class="col-lg-3">
							<div class="col-md-1"></div>
							<button type = "submit" class = "btn btn-warning btn-xs col-md-4" name = "reopen" value = "{{  item.id }}">Reopen</button>
						{% else %}
						<div class="col-lg-9"><span class="glyphicon glyphicon-ok green"></span> {{ item.title }} </div>
						<div class="col-lg-3">
							<div class="col-md-1"></div>
							<button type = "submit" class = "btn btn-danger btn-xs col-md-4" name = "close" value = "{{  item.id }}">Close</button>
						{% endif %}
						<div class="col-md-1"></div>
						<button type = "submit" class = "btn btn-info btn-xs col-md-4" name = "view" value = "{{  item.id }}">View</button>
					</div>
					{% else %}
					<div class="col-lg-9"><span class="glyphicon glyphicon-edit"></span> {{ item.title }} </div>
					<div class="col-lg-3">
						<div class="col-md-1"></div>
						<button type = "submit" class = "btn btn-success btn-xs col-md-4" name = "edit" value = "{{  item.id }}">Edit</button>
						<div class="col-md-1"></div>
						<button type = "submit" class = "btn btn-primary btn-xs col-md-4" name = "publish" value = "{{  item.id }}">Publish</button>
					</div>
					{% endif %}
				</div>
			</div>
			<div class="panel-body">
				Subject:{{ item.subject }}
				<br>
				<p>Description: {{ item.description }}</p>
			</div>
		</div>
	{% endfor %}
</form>
{% endblock %}