{% extends 'base.html' %}
{% block title %}Add Questionnaire{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h3><strong>Congratulations!</strong><small> You've already created question {{ title }}</small> </h3>
			<p>Check <a href="./home">Manage</a> to manage this question</p>
			<p>If you have also published this questionnaire, check <a href="../naire{{id}}">naire</a> to see this questionnaire</p>
		</div>
	</div>
</div>
{% endblock %}
