{% extends 'base.html' %}
{% block title %}Add Questionnaire{% endblock %}
{% block body %}
<div class="container">
	<div class="page-header">
		<h1>QSystem <small>Design your own questionnaires.</small></h1>
	</div>
	<div class="jumbotron">
  		<h1>Welcome to QSystem,</h1>
  		<div class="row">
  			<div class="span4">
  				<p>start a qustionnaire</p>
  				<p><a class="btn btn-primary btn-lg" href="/quest/" role="button">Click Me</a></p>
  			</div>
  			<div class="span4">
  				<p>manage qustionnaires</p>
  				<p><a class="btn btn-primary btn-lg" href="/quest/manage" role="button">Click Me</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}