<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/cookies.js"></script>
	<script src="{{ STATIC_URL }}js/Chart.js"></script>
    <style type="text/css">
        body { 
            padding-top: 70px; 
        }
    </style>
    <script type="text/javascript">
        function logout(){
            docCookies.removeItem('uid','/');
            document.location = "/message/loggedout"
        }
        function redirect_to_quest(){
            document.getElementsByTagName('form')[0].submit();
        }
    </script>
    <title>{% block title %}{% endblock %}</title>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <script type="text/javascript">
                    //if (docCookies.hasItem('email')){
                    if ('{{ custom_user.login }}'=='true'){
                        document.write("<ul class=\"nav navbar-nav navbar-right\">");
                        //document.write("<li><a href=\"#\">"+ docCookies.getItem('email').substr(1, docCookies.getItem('email').lastIndexOf("\"") - 1) +"</a></li>");
                        document.write("<li><a href=\"#\">"+ '{{ custom_user.email }}' +"</a></li>");
                        document.write("<li><a href=\"javascript:logout()\">Logout</a></li>");
                        document.write("</ul>");
                        document.write("");
                    }
                    else{
                        document.write("<ul class=\"nav navbar-nav navbar-right\">");
                        document.write("<li><a href=\"/accounts/login/\">Sign in</a></li>");
                        document.write("<li><a href=\"/accounts/register/\">Sign up</a></li>");
                        document.write("</ul>");
                    }
                </script>
                <ul class="nav navbar-nav">
                    <li><a href="javascript:redirect_to_quest()">Design a questionnaire</a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <form name="cookies" method="POST" action="/quest/" type="hidden">
    </form>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
