{% extends 'base.html' %}
{% block body %}
<div class="container">
	<div class="page-header">
		<h1>QSystem <small>Manage your questionnaires and information.</small></h1>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<h3>Questionnaires</h3>
			<ul class="list-group">
				<li class="list-group-item">Created<span class="badge">{{ created_num }}</span></li>
				<li class="list-group-item"><a href="/quest/filled/1">Filled</a><span class="badge">{{ filled_num }}</span></li>
			</ul>
			<h3>Profile</h3>
			<ul class="list-group">
			  <li class="list-group-item">Edit</li>
			</ul>
		</div>
		<div class="col-lg-9">
			<!--div class="panel panel-default">
				<div class="panel-heading">Panel heading without title</div>
				<div class="panel-body">
					Subject: Panel content
					<br>
					Description: Dashen is haoren.
				</div>

			</div-->
			{% block content %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}