{% extends 'base.html' %}
{% block title %}QSystem{% endblock %}
{% block body %}
<div class="container">
	<div class="page-header">
		<h1>QSystem <small>Manage your own questionnaires and information.</small></h1>
	</div>
	<div class="col-lg-3">
		<h3>Info</h3>
		<ul class="list-group">
			<li class="list-group-item">Modify your information</li>
		</ul>
		<h3>Questionnaires</h3>
		<ul class="list-group">
			<li class="list-group-item">Published</li>
			<li class="list-group-item">Filled</li>
		</ul>
	</div>
	<div class="col-lg-9">
		
	</div>
</div>
{% endblock %}