{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}
{% block body %}
<!--div class="col-md-2"></div-->
<div class="container">
	<div class="col-md-8">
		<div class="jumbotron">
			<h1>Welcome to QSystem, </h1>
			<p>tell us something about yourself and start your survey now!</p>
			<button class="btn btn-primary btn-lg" onlick="javascript:submit()">Learn More</button>
		</div>
	</div>
	<div class="col-md-4">
	<div class="panel-body">
		<form role="form" action="{% url 'accounts:register_submit' %}" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label for="InputEmail1">Email address</label>
				<input type="email" class="form-control" name="email" placeholder="Enter email" max="50" required>
				<div class="alert alert-danger alert-dismissible" {{ is_error }} role="alert">This E-mail address has been used!</div>
			</div>
			<div class="form-group">
				<label for="InputPassword1">Password</label>
				<input type="password" class="form-control" name="password" placeholder="Password: 5-20 Letters or numbers" required pattern="^[a-zA-Z0-9-_\.]{5,12}$" maxlength="20">
			</div>
			<div class="form-group">
				<label for="SelectSex row">Sex</label>
				<br>
				<div class="radio-inline">
						<label>
							<input type="radio" name="sex" id="SecretRadios" value=Secret checked>
							Secret
						</label>
					</div>
					<div class="radio-inline">
						<label>
							<input type="radio" name="sex" id="MaleRadios" value="Male">
							Male
						</label>
					</div>
					<div class="radio-inline">
					<label>
							<input type="radio" name="sex" id="FemaleRadios" value="Female">
							Female
						</label>
				</div>
			</div>
			<div class="form-group">
				<label for="InputBirthday1">Birthday</label>
				<input type="date" class="form-control" name="birthday" placeholder="Birthday mm/dd/yyyy">
			</div>
			<input type="hidden" name="registered" value=True>
			<input type="hidden" name="register_date" id="register_date">
			<button class="btn btn-primary btn-md col-sm-3" onlick="javascript:submit()">Submit</button>
		</form>
	</div>
	</div>
</div>
<!--div class="col-md-2"></div-->
{% endblock %}


